/* Setting style of the body */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    font-size: 20px;
}

/* controlling the dimensions of picture */
#aboutPic {
    max-width: 20vh;
    max-height: 20vh;
}

/* Button code */
button {
    text-align: center;
}
.changePage {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: 6px grey;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px solid aqua;
    font-size: large;
    font-size: 10px;
    box-shadow: 0 9px #999;
  }
  .changePage:active {
    background-color: black;
    box-shadow: 0 5px gray;
    transform: translateY(8px);
  }
/* Button code end */

header {
    display: flex;
    flex-flow: column wrap;
    min-height: 25vh;
}

/* Set style of all h1 */
h1 {
    border-left: 10px;
    border-right: 10px;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
}

/* Dictation over all ul */
ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* Set standard for all footers */
footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}

/* Classes/ID modifying the images on homepage */
#imgClassHome {
    max-width: 50vh;
    max-height: 25vh;
}

.homeImage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-top: auto;
    
}
/* This ID tightens everuthing up so the bullet points are in line */
#skills {
    display: flexbox;
    flex-direction: column;
}
/* This is to add space between individual list items. It makes lists easier to read */
li {
    padding: 5px;
}

/* --------------------- Media Query --------------------- */
/* I used min width here because I designed the web page for mobile (samsung S20 ultra) first before desktop or tablet (e.g: Ipad) */
/* My choice to use the desktop layout for a tablet was made because of the extra width offered by larger devices. */
/* The mobile version provides a compact and neat layout whilst the desktop varient capitalises on the extra space available. */
@media(min-width: 415px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(50, 50, 50);
        color: whitesmoke;
        font-size: 25px;
    }
    header {
        display: inline-block;
        flex-flow: wrap;
        justify-content: center;
        align-self: auto;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .changePage {
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 6px grey;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px solid aqua;
    font-size: large;
    font-size: 15px;
    box-shadow: 0 9px #999;
  }
  .changePage:hover {
    background-color: white;
  }
}